<h1 class="match-me-title">MATCH ME!</h1>
<section class="card cursor-normal">
  <section class="land-container">
    <img class="flag-image" src=<%= data.flag %> alt="vlag">
  </section>
	
  <section class="land-information">
    <article class="card-body">
      <h2 class="country-name" id="country-name"><%= data.name %></h2>
      <p class="country-region"><strong>Regio:</strong> <span><%= data.region %></span></p>
      <p><strong>Populatie: </strong><span><%= data.population %></span></p>
      <p><strong>Hoofdstad:</strong><span><%= data.capital %></span></p>
      <p class="country-language">
        <strong>Taal:</strong><span><%= data.languages[0].name %></span></p>
    </article>

    <article id="weather-data">
      <h2 class="content-title">Het Weer</h2>
    </article>

    <article id="bereken_section">
      <h2 class="content-title" >Valutawissel</h2>
      <h1>Bereken de waarde van je geld voordat je vertrekt!</h1>
      <div class="left_box">
        <label for="number">Euro:</label>
        <input type="number" name="" id="nummer" placeholder="Voer een waarde in">
      </div>

      <div class="right_box">
        <label for="antwoord"><%= data.currencies[0].code %>:</label>
        <input type="text" name="" id="antwoord" disabled>
      </div>
    </article>
    
    <p id="currencyvalue"><%= data.currencies[0].code %></p>

    <article class="card-button-container">
      <form action="/match-me/add" method="POST">
        <input type="hidden" name="land" id="land" value="<%= data.name %>">
        <input type="hidden" name="populatie" id="populatie" value="<%= data.population %>">
        <input type="hidden" name="regio" id="regio" value="<%= data.region %>">
        <input type="hidden" name="capital" id="capital" value="<%= data.capital %>">
        <input type="hidden" name="language" id="language" value="<%= data.languages[0].name %>">

        <input type="hidden" name="alpha" id="alpha" value="<%= data.alpha3Code %>">

        <a class="remove-button" href="/match-me">Verwijder</a>
        <button class="favorite-button" type="submit">+ Favoriet</button>
      </form>
    </article>
  </section>
</section>