<section>
    <% user.countries.forEach(function(item){ %>

    <article>
        <h2><%= item.land %></h2>
        <h3>Populatie: <%= item.populatie %></h3>
        <h3>Regio: <%= item.regio %></h3>
        <h3>Hoofdstad: <%= item.capital %></h3>
        <h3>Taal: <%= item.language %></h3>
        <form action="/mijn-lijst/delete/<%= item.alpha %>" method="POST">
            <button type="submit">Verwijder</button>
        </form>
    </article>
    <% }) %>
</section>