<section>
    <% allelanden.forEach(function(landen){ %>

    <section>

        <h2><%= landen.land %></h2>
        <h3>Populatie: <%= landen.populatie %></h3>
        <h3>Regio: <%= landen.regio %></h3>
        <h3>Hoofdstad: <%= landen.capital %></h3>
        <h3>Taal: <%= landen.language %></h3>

        <form action="/delete/<%= landen._id %>" method="POST">
            <button type="submit">Verwijder</button>
        </form>
    </section>
    <% }) %>
</section>

<script src="/scripts/script.js"></script>